@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap");
html, body {
  line-height: 160%;
  font-weight: 400;
  color: #565973;
  font-family: "Manrope", sans-serif;
  font-size: 16px;
}

.wrapper {
  display: grid;
  height: 100dvh;
  grid-template-rows: auto 1fr auto;
}

.text-lead {
  line-height: 160%;
  font-weight: 400;
  color: #565973;
  font-family: "Manrope", sans-serif;
  font-size: 24px;
}

.text-xl {
  line-height: 160%;
  font-weight: 400;
  color: #565973;
  font-family: "Manrope", sans-serif;
  font-size: 20px;
}

.text-lg {
  line-height: 160%;
  font-weight: 400;
  color: #565973;
  font-family: "Manrope", sans-serif;
  font-size: 18px;
}

.text-m {
  line-height: 160%;
  font-weight: 400;
  color: #565973;
  font-family: "Manrope", sans-serif;
  font-size: 16px;
}

.text-s {
  line-height: 160%;
  font-weight: 400;
  color: #565973;
  font-family: "Manrope", sans-serif;
  font-size: 14px;
}

.text-xs {
  line-height: 160%;
  font-weight: 400;
  color: #565973;
  font-family: "Manrope", sans-serif;
  font-size: 12px;
}

h1 {
  line-height: 130%;
  font-weight: 800;
  color: #0B0F19;
  font-family: "Manrope", sans-serif;
  font-size: 40px;
}

h2 {
  line-height: 130%;
  font-weight: 800;
  color: #0B0F19;
  font-family: "Manrope", sans-serif;
  font-size: 32px;
}

h3 {
  line-height: 130%;
  font-weight: 800;
  color: #0B0F19;
  font-family: "Manrope", sans-serif;
  font-size: 28px;
}

h4 {
  line-height: 130%;
  font-weight: 800;
  color: #0B0F19;
  font-family: "Manrope", sans-serif;
  font-size: 24px;
}

h5 {
  line-height: 130%;
  font-weight: 800;
  color: #0B0F19;
  font-family: "Manrope", sans-serif;
  font-size: 20px;
}

h6 {
  line-height: 130%;
  font-weight: 800;
  color: #0B0F19;
  font-family: "Manrope", sans-serif;
  font-size: 16px;
}

.d1 {
  line-height: 130%;
  font-weight: 800;
  color: #0B0F19;
  font-family: "Manrope", sans-serif;
  font-size: 80px;
}

.d2 {
  line-height: 130%;
  font-weight: 800;
  color: #0B0F19;
  font-family: "Manrope", sans-serif;
  font-size: 72px;
}

.d3 {
  line-height: 130%;
  font-weight: 800;
  color: #0B0F19;
  font-family: "Manrope", sans-serif;
  font-size: 64px;
}

.d4 {
  line-height: 130%;
  font-weight: 800;
  color: #0B0F19;
  font-family: "Manrope", sans-serif;
  font-size: 56px !important;
}

.d5 {
  line-height: 130%;
  font-weight: 800;
  color: #0B0F19;
  font-family: "Manrope", sans-serif;
  font-size: 48px;
}

.d6 {
  line-height: 130%;
  font-weight: 800;
  color: #0B0F19;
  font-family: "Manrope", sans-serif;
  font-size: 42px;
}

a,
.form-link {
  line-height: 160%;
  font-weight: 400;
  color: #565973;
  font-family: "Manrope", sans-serif;
  color: #6366F1;
  text-decoration: none;
  transition: all 0.25s ease-in-out;
  font-weight: 500;
}
a:hover,
.form-link:hover {
  text-decoration: underline;
}

.menu-link {
  line-height: 160%;
  font-weight: 400;
  color: #565973;
  font-family: "Manrope", sans-serif;
  font-size: 16px;
  color: #33354D;
  font-weight: 600 !important;
  text-decoration: none;
  transition: color 0.25s ease-in-out;
}
.menu-link:hover, .menu-link:active, .menu-link:focus,
.menu-link .active {
  color: #6366F1;
  text-decoration: none;
}

.more-link {
  line-height: 160%;
  font-weight: 400;
  color: #565973;
  font-family: "Manrope", sans-serif;
  font-size: 14px;
  display: flex;
  align-items: center;
  gap: 10px;
  text-decoration: none !important;
}
.more-link i {
  box-shadow: 0px 2px 6.4px -1px rgba(19, 16, 34, 0.03), 0px 4.4px 12px -1px rgba(19, 16, 34, 0.06);
  background: #FFFFFF;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  border-radius: 50%;
  transition: all 0.1s ease-in-out;
}
.more-link:hover span {
  text-decoration: underline;
}
.more-link:hover i {
  background: #33354D;
  color: #FFFFFF;
}

.btn-theme {
  display: flex;
  padding: 8px 28px;
  justify-content: center;
  align-items: center;
  gap: 12px;
  border-radius: 6px;
  text-align: center;
  font-size: 14px;
  color: #FFFFFF;
  background: #6366F1;
  border: none;
}
.btn-theme:hover {
  text-decoration: none;
  background: #8B5CF6;
  color: #FFFFFF;
}

.mobile-menu {
  padding: 18px 22px;
  font-size: 2em;
  background: transparent;
  border: none;
}
.mobile-menu:hover, .mobile-menu:focus, .mobile-menu:active {
  text-decoration: none;
  background: transparent;
}

.button-circle,
i.button-circle,
a.button-circle {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  height: 44px;
  width: 44px;
  box-shadow: 0px 2px 6.4px -1px rgba(19, 16, 34, 0.03), 0px 4.4px 12px -1px rgba(19, 16, 34, 0.06);
  color: #0B0F19;
  background: #FFFFFF;
  border: none;
  transition: all 0.15s ease-in-out;
}

.btn-dropdown {
  position: relative;
  display: inline-block;
  min-width: 40%;
  width: 100%;
}

.dropdown-icon {
  position: absolute;
  top: 20px;
  right: 20px;
  z-index: -1;
}

.dropdown-selected {
  padding: 15px;
  border: 1px solid #D4D7E5;
  cursor: pointer;
  border-radius: 0.5rem;
  height: 3.5rem;
}

.dropdown-options {
  position: absolute;
  width: 100%;
  list-style: none;
  padding: 0 5px;
  margin: 0;
  border: 1px solid #D4D7E5;
  z-index: 1000;
  background-color: white;
  border-radius: 5px;
}

.dropdown-option {
  padding: 10px;
  cursor: pointer;
}

.dropdown-option:hover {
  background-color: #ddd;
}

form {
  display: grid;
  gap: 10px;
}
form .input-group label {
  width: 100%;
  font-weight: 700;
  margin-bottom: 3px;
}
form .input-group input {
  width: 100%;
  padding: 15px;
  border-radius: 8px !important;
  border: 1px solid #D4D7E5;
}
form .input-group input::-moz-placeholder {
  color: #D4D7E5;
}
form .input-group input::placeholder {
  color: #D4D7E5;
}
form .checkbox-group {
  padding: 10px 0 20px 0;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 15px;
}
form .checkbox-group input {
  width: 25px;
  height: 25px;
  border-radius: 8px !important;
  border: 1px solid #565973;
}
form .checkbox-group label {
  width: 100%;
  font-weight: 700;
}

.theme-switch-wrapper {
  display: flex;
  align-items: center;
  gap: 10px;
}
.theme-switch-wrapper label {
  cursor: pointer;
}
.theme-switch-wrapper .theme-switch {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 24px;
}
.theme-switch-wrapper .theme-switch input {
  opacity: 0;
  width: 0;
  height: 0;
}
.theme-switch-wrapper .theme-switch input:checked + .slider {
  background-color: #6366F1;
}
.theme-switch-wrapper .theme-switch input:focus + .slider {
  box-shadow: 0 0 1px #6366F1;
}
.theme-switch-wrapper .theme-switch input:checked + .slider:before {
  transform: translateX(26px);
  background-color: #FFFFFF;
}
.theme-switch-wrapper .theme-switch .slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: 0.4s;
}
.theme-switch-wrapper .theme-switch .slider:before {
  position: absolute;
  content: "";
  height: 16px;
  width: 16px;
  left: 4px;
  bottom: 4px;
  background-color: #6366F1;
  transition: 0.4s;
}
.theme-switch-wrapper .theme-switch .slider.round {
  border-radius: 34px;
}
.theme-switch-wrapper .theme-switch .slider.round:before {
  border-radius: 50%;
}

header {
  padding: 1rem 0;
}
header .container {
  display: grid;
  align-items: center;
  gap: 30px;
  grid-template-columns: 1fr auto;
  grid-template-areas: "logo btn-menu" "menu menu";
}
@media (min-width: 768px) {
  header .container {
    grid-template-columns: 1fr auto auto;
    grid-template-areas: "logo theme-mode btn-menu";
  }
}
@media (min-width: 992px) {
  header .container {
    grid-template-columns: auto 1fr auto auto;
    grid-template-areas: "logo menu theme-mode btn-account";
  }
}
header .container #logo {
  grid-area: logo;
}
header .container #menu {
  grid-area: menu;
  display: none;
  gap: 20px;
  background-color: #0B0F19;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
}
@media (min-width: 992px) {
  header .container #menu {
    display: flex;
    height: 100%;
    position: static;
    background-color: transparent;
    display: flex !important;
    align-items: center;
  }
}
header .container #menu .menu-links {
  display: grid;
  gap: 20px;
  padding: 50px 0;
  text-align: center;
}
header .container #menu .menu-links .nav-link {
  color: #F3F6FF;
}
@media (min-width: 992px) {
  header .container #menu .menu-links {
    display: flex;
    padding: 0;
    text-align: left;
  }
  header .container #menu .menu-links .nav-link {
    color: #33354D;
  }
}
header .container #theme-mode {
  grid-area: theme-mode;
  display: none;
}
@media (min-width: 768px) {
  header .container #theme-mode {
    display: block;
  }
}
header .container #btn-account {
  grid-area: btn-account;
  display: none;
}
@media (min-width: 992px) {
  header .container #btn-account {
    display: block;
  }
}
header .container #btn-menu {
  grid-area: btn-menu;
  display: block;
  z-index: 0;
  padding: 18px 22px;
  font-size: 2em;
  background: transparent;
  border: none;
}
@media (min-width: 992px) {
  header .container #btn-menu {
    display: none;
  }
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 100%;
  padding: 1.5rem;
}
.container #silicon-logo {
  width: 15%;
  margin-top: 3rem;
  margin-bottom: 3rem;
}
.container .menu-links {
  line-height: 160%;
  font-weight: 400;
  color: #565973;
  font-family: "Manrope", sans-serif;
  font-size: 16px;
  color: #33354D;
  font-weight: 600 !important;
  display: flex;
  flex-direction: row;
  gap: 3rem;
  margin-bottom: 4rem;
}
.container .download-app {
  margin-bottom: 4rem;
}
.container .download-app a {
  margin: 1.5rem;
}
.container #socials {
  margin-bottom: 4rem;
}

#showcase {
  background: linear-gradient(-1deg, rgba(99, 101, 241, 0.1) 0%, rgba(216, 70, 239, 0.05) 45%, rgba(241, 244, 253, 0.07) 75%);
}
@media (min-width: 992px) {
  #showcase {
    padding-top: 40px;
  }
}
#showcase .container {
  display: grid;
  grid-template-columns: 1fr auto;
  grid-template-areas: "img" "content";
}
@media (min-width: 768px) {
  #showcase .container {
    grid-template-columns: 1fr 1fr;
    align-items: end;
    grid-template-areas: "content img";
    gap: 50px;
  }
}
@media (min-width: 992px) {
  #showcase .container {
    align-items: stretch;
    gap: 100px;
  }
}
#showcase .container .content {
  grid-area: content;
  text-align: center;
  padding: 1.25rem;
}
@media (min-width: 992px) {
  #showcase .container .content {
    text-align: left;
    display: grid;
    grid-template-rows: auto auto 1fr auto;
    padding: 0;
  }
}
#showcase .container .content h1 {
  line-height: 130%;
  font-weight: 800;
  color: #0B0F19;
  font-family: "Manrope", sans-serif;
  font-size: 40px;
}
@media (min-width: 992px) {
  #showcase .container .content h1 {
    line-height: 130%;
    font-weight: 800;
    color: #0B0F19;
    font-family: "Manrope", sans-serif;
    font-size: 56px !important;
    padding-top: 2rem;
  }
}
#showcase .container .content .download-app {
  display: flex;
  justify-content: center;
  gap: 1.25rem;
  margin: 2.5rem 0;
}
@media (min-width: 992px) {
  #showcase .container .content .download-app {
    justify-content: flex-start;
  }
}
#showcase .container .content .download-app img {
  width: 100%;
}
#showcase .container .content .discover-more {
  display: flex;
  justify-content: left;
  gap: 1.25rem;
  padding-bottom: 3.5rem;
}
#showcase .container #discover {
  margin: 0.5rem;
}
#showcase .container #showcase-image {
  grid-area: img;
  align-items: baseline;
  width: 100%;
  padding: 1.25rem 2.5rem;
}
@media (min-width: 768px) {
  #showcase .container #showcase-image {
    padding: 0;
  }
}

.wrapper {
  background: #F3F6FF;
}
.wrapper #contact {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  padding: 1.5rem;
}
.wrapper #contact .contact-content .navigation {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: left;
  gap: 0.5rem;
}
.wrapper #contact .contact-content .navigation i.fa-solid.fa-house {
  margin-right: 0.5rem;
}
.wrapper #contact .contact-content .flex-contact-content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.wrapper #contact .contact-content .flex-contact-content .contact-us {
  display: flex;
  flex-direction: column;
}
.wrapper #contact .contact-content .flex-contact-content .contact-us #contact-h1 {
  margin-top: 2rem;
  margin-bottom: 2rem;
}
.wrapper #contact .contact-content .flex-contact-content .contact-us #career, .wrapper #contact .contact-content .flex-contact-content .contact-us #email {
  margin-top: 2rem;
  display: flex;
  flex-direction: row;
}
.wrapper #contact .contact-content .flex-contact-content .contact-us #career img, .wrapper #contact .contact-content .flex-contact-content .contact-us #email img {
  align-self: flex-start;
  margin-right: 1rem;
}
.wrapper #contact .contact-content .flex-contact-content #contact-form {
  background-color: #FFFFFF;
  padding: 3rem;
  border-radius: 0.5rem;
  box-shadow: 0px 4px 13px -2px rgba(19, 16, 34, 0.06), 0px 4.8px 24.4px -6px rgba(19, 16, 34, 0.1);
}
.wrapper #contact .contact-content .flex-contact-content #contact-form input-group, .wrapper #contact .contact-content .flex-contact-content #contact-form h2 {
  margin-bottom: 2rem;
}
.wrapper #contact .contact-content .date-time {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 2rem;
  width: 100%;
}
.wrapper #contact .appointment-button {
  width: 200px;
}
.wrapper #contact form {
  padding: 0 15px;
  width: 50%;
}

#appfeatures .container {
  display: flex;
  flex-direction: column;
}
#appfeatures .container .wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: auto;
}
#appfeatures .container .wrapper .brands {
  display: flex;
  gap: 2rem;
  overflow-x: auto;
  max-width: 100%;
  padding-top: 6rem;
  padding-bottom: 3.5rem;
}
#appfeatures .container .wrapper .brands a {
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 12rem;
  height: 6.25rem;
  border: 1px solid #E2E5F1;
  padding: 1rem;
  border-radius: 0.5rem;
}
#appfeatures .container .wrapper .brands a img {
  max-width: 100%;
  max-height: 100%;
}
#appfeatures .container .content {
  height: 10vh;
  display: flex;
  flex-direction: column;
  text-align: left;
  padding: 1.25rem;
  padding-top: 3.5rem;
  padding-bottom: 3.5rem;
}
#appfeatures .container .content .headline {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(1, 1fr);
}
#appfeatures .container .content .headline #features-text {
  grid-column: 2/-1;
}
#appfeatures .container .content .headline #features-text #features-h1 {
  margin-bottom: 25px;
}
#appfeatures .container .content .headline #features-text #features-p {
  margin-bottom: 30px;
}
#appfeatures .container .content .grid-features {
  grid-template-columns: 1fr;
}
@media (min-width: 992px) {
  #appfeatures .container .content .grid-features {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-gap: 20px;
    max-width: 100%;
    margin: auto;
  }
}
#appfeatures .container .content .grid-features #easy {
  grid-column: 2/2;
}
#appfeatures .container .content .grid-features #easy img {
  justify-content: left;
}
#appfeatures .container .content .grid-features #security {
  grid-column: 3/-1;
}
#appfeatures .container .content .grid-features #cost {
  grid-column: 2/2;
  grid-row: 2/2;
}
#appfeatures .container .content .grid-features #support {
  grid-column: 3/-1;
}
#appfeatures .container .content .grid-features #cashback {
  grid-column: 2/2;
}
#appfeatures .container .content .grid-features #support {
  grid-column: 3/-1;
}
#appfeatures .container #features-mobile {
  width: 28%;
  padding: 1.25rem 2.5rem;
  margin-right: auto;
  margin-bottom: 6rem;
}
@media (min-width: 768px) {
  #appfeatures .container #features-mobile {
    padding: 0;
  }
}

#how-does-it-work {
  background: #F3F6FF;
}
#how-does-it-work .hdiw-wrapper .content {
  text-align: center;
  flex-direction: column;
}
#how-does-it-work .hdiw-wrapper .content #hdiw-h1 {
  padding-bottom: 2rem;
}
#how-does-it-work .hdiw-wrapper .content .slide-show {
  display: flex;
  justify-content: center;
  align-items: center;
}
#how-does-it-work .hdiw-wrapper .content .slide-show img {
  max-width: 100%;
  width: 30%;
  padding: 0 50px;
}
#how-does-it-work .hdiw-wrapper .content #hdiw-h4 {
  padding-top: 3rem;
}
#how-does-it-work .hdiw-wrapper .content #hdiw-p1 {
  padding-top: 0.7rem;
}
#how-does-it-work .hdiw-wrapper .content #hdiw-p2 {
  padding-bottom: 1rem;
}

@media (min-width: 992px) {
  #money-transfers {
    padding-top: 40px;
  }
}
#money-transfers .content-wrapper {
  display: grid;
}
@media (min-width: 768px) {
  #money-transfers .content-wrapper {
    grid-template-columns: 1fr 1fr;
    align-items: end;
    grid-template-areas: "transfers img1" "img2 payments";
    gap: 50px;
  }
}
@media (min-width: 992px) {
  #money-transfers .content-wrapper {
    align-items: center;
    gap: 100px;
    padding: 1.25rem 2.5rem;
    margin: 0 2.5rem;
  }
}
#money-transfers .content-wrapper .transfers {
  grid-area: transfers;
  text-align: left;
}
#money-transfers .content-wrapper .transfers h2 {
  padding-bottom: 1.25rem;
}
#money-transfers .content-wrapper .transfers p i.fa-regular.fa-circle-check {
  color: #6366F1;
  margin-right: 0.5rem;
}
#money-transfers .content-wrapper .receive-payment {
  grid-area: payments;
  text-align: left;
}
#money-transfers .content-wrapper .receive-payment .receive-payment-info {
  display: flex;
  flex-direction: row;
}
@media (min-width: 992px) {
  #money-transfers .content-wrapper {
    text-align: left;
    display: grid;
    grid-template-rows: auto auto 1fr auto;
    padding: 0;
  }
}
#money-transfers .content-wrapper #btn-learn-more {
  display: inline-block;
  padding: 0.5rem 0.5rem;
  margin-top: 1.25rem;
  padding: 0.5rem;
}
#money-transfers .content-wrapper #btn-learn-more i.fa-solid.fa-arrow-right {
  margin-left: 0.5rem;
}
#money-transfers #money-forecast {
  grid-area: img1;
  align-items: baseline;
  width: 100%;
  padding: 1.25rem 2.5rem;
}
@media (min-width: 768px) {
  #money-transfers #money-forecast {
    padding: 0;
  }
}
#money-transfers #receive-payments {
  grid-area: img2;
  align-items: baseline;
  width: 100%;
  padding: 1.25rem 2.5rem;
}
@media (min-width: 768px) {
  #money-transfers #receive-payments {
    padding: 0;
  }
}

#client-feedback {
  background: linear-gradient(-1deg, rgba(99, 101, 241, 0.1) 0%, rgba(216, 70, 239, 0.05) 45%, rgba(241, 244, 253, 0.07) 75%);
}
#client-feedback .feedback-container .feedback-content {
  display: flex;
  flex-direction: row;
  gap: 1.25rem;
  padding: 1.25rem;
}
#client-feedback .feedback-container .feedback-content .feedback-buttons-left-right {
  display: flex;
  gap: 1.25rem;
  margin-right: 140px;
  margin-top: 3rem;
}
#client-feedback .feedback-container .feedback-content .reviews {
  display: flex;
  flex-direction: row;
}

#questions .questions-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 2rem;
}
#questions .questions-container .questions-wrapper {
  margin-top: 3rem;
  display: flex;
  gap: 3rem;
}
#questions .questions-container .questions-wrapper .prompt {
  display: flex;
  flex-direction: column;
}
#questions .questions-container .questions-wrapper .prompt h2 {
  color: #0B0F19;
}
#questions .questions-container .questions-wrapper .prompt .contact-choices {
  display: flex;
  flex-direction: row;
  gap: 1.25rem;
}
#questions .questions-container .questions-wrapper .prompt .contact-choices #contact-call {
  line-height: 160%;
  font-weight: 400;
  color: #565973;
  font-family: "Manrope", sans-serif;
  font-size: 14px;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 12.25rem;
  height: 10.375;
  border: 1px solid #E2E5F1;
  padding: 1rem;
  border-radius: 0.5rem;
  flex-direction: column;
}
#questions .questions-container .questions-wrapper .prompt .contact-choices #contact-call p {
  margin-top: 0.5rem;
}
#questions .questions-container .questions-wrapper .prompt .contact-choices #contact-chat {
  line-height: 160%;
  font-weight: 400;
  color: #565973;
  font-family: "Manrope", sans-serif;
  font-size: 14px;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 12.25rem;
  height: 10.375;
  border: 1px solid #E2E5F1;
  padding: 1rem;
  border-radius: 0.5rem;
  flex-direction: column;
}
#questions .questions-container .questions-wrapper .prompt .contact-choices #contact-chat p {
  margin-top: 0.5rem;
}
#questions .questions-container .questions-wrapper .prompt .contact-choices #contact-chat a {
  color: #22C55E;
}
#questions .questions-container .questions-wrapper .faqs {
  display: flex;
  flex-direction: column;
  margin-bottom: 2rem;
}
#questions .questions-container .questions-wrapper .faqs nav {
  line-height: 160%;
  font-weight: 400;
  color: #565973;
  font-family: "Manrope", sans-serif;
  font-size: 16px;
  color: #33354D;
  font-weight: 600 !important;
  text-decoration: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 46.625rem;
  border: 1px solid #E2E5F1;
  padding: 1rem;
  border-radius: 0.5rem;
}
#questions .questions-container .questions-wrapper .faqs nav #open-faqs-bar {
  height: 11.25rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
#questions .questions-container .questions-wrapper .faqs nav #open-faqs-bar p {
  line-height: 160%;
  font-weight: 400;
  color: #565973;
  font-family: "Manrope", sans-serif;
  font-size: 14px;
  margin-top: 1.5rem;
}
#questions .questions-container .questions-wrapper .faqs nav #open-faqs-bar #top-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 26.5rem;
}
#questions .questions-container .questions-wrapper .faqs nav #open-faqs-bar #top-row #faqs-open-circle-button {
  background-color: #6366F1;
}
#questions .questions-container .questions-wrapper .faqs nav #open-faqs-bar #top-row #faqs-open-circle-button #i, #questions .questions-container .questions-wrapper .faqs nav #open-faqs-bar #top-row #faqs-open-circle-button .fa-solid.fa-chevron-up {
  color: #FFFFFF;
}
#questions .questions-container .questions-wrapper .faqs nav a,
#questions .questions-container .questions-wrapper .faqs nav #faqs-circle-button {
  background-color: #F3F6FF;
}

#subscribe {
  background: #F3F6FF;
}
#subscribe .subscribe-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 3rem;
  padding: 5rem;
}
#subscribe .subscribe-wrapper #email-bar {
  width: 60dvh;
}
#subscribe .subscribe-wrapper #email-bar .input-group {
  position: relative;
  margin-top: 1.5rem;
}
#subscribe .subscribe-wrapper #email-bar .input-group input[type=text] {
  padding-right: 80px;
}
#subscribe .subscribe-wrapper #email-bar .input-group #subscribe-button {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  padding: 0 10px;
}

#medical-contact {
  display: flex;
  height: 100%;
  padding: 1.5rem;
}
#medical-contact .medical-info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
#medical-contact .medical-info img {
  width: 50%;
  margin-right: 6rem;
}
#medical-contact .medical-info #flex-medical {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
#medical-contact .medical-info #flex-medical .medical1 h3, #medical-contact .medical-info #flex-medical .medical2 h3 {
  margin-bottom: 2rem;
}
#medical-contact .medical-info #flex-medical .medical1 i.fa-solid.fa-location-pin, #medical-contact .medical-info #flex-medical .medical2 i.fa-solid.fa-location-pin {
  margin-right: 0.5rem;
  color: #6366F1;
}
#medical-contact .medical-info #flex-medical .medical1 i.fa-solid.fa-phone, #medical-contact .medical-info #flex-medical .medical2 i.fa-solid.fa-phone {
  margin-right: 0.5rem;
  color: #6366F1;
}
#medical-contact .medical-info #flex-medical .medical1 i.fa-solid.fa-clock, #medical-contact .medical-info #flex-medical .medical2 i.fa-solid.fa-clock {
  margin-right: 0.5rem;
  color: #6366F1;
}

#footer {
  background: #0B0F19;
  display: flex;
  flex-direction: row;
  padding: 1.5rem;
  gap: 2rem;
}
#footer .footer-container1 {
  display: flex;
  flex-direction: column;
}
#footer .footer-container1 #silicon-logo {
  width: 30%;
  margin-top: 2rem;
  margin-bottom: 1.5rem;
}
#footer .footer-container1 #footer-p {
  color: #FFFFFF;
}
#footer .footer-container1 h5 {
  color: #FFFFFF;
}
#footer .footer-container1 #newsletter-bar .input-group {
  position: relative;
  margin-top: 1.5rem;
}
#footer .footer-container1 #newsletter-bar .input-group input[type=text] {
  padding-right: 80px;
}
#footer .footer-container1 #newsletter-bar .input-group label {
  color: #FFFFFF;
}
#footer .footer-container1 #newsletter-bar .input-group #subscribe-button {
  position: absolute;
  top: 28.5px;
  right: 0;
  height: 67.4%;
  padding: 30 0.5rem;
}
#footer .footer-container1 #rights {
  margin-top: 5rem;
}
#footer #social-media, #footer #contact, #footer #navigation {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  line-height: 160%;
  font-weight: 400;
  color: #565973;
  font-family: "Manrope", sans-serif;
  font-size: 16px;
  color: #33354D;
  font-weight: 600 !important;
  margin-top: 3rem;
  row-gap: 0.5rem;
  margin-left: 3rem;
}
#footer #social-media #example-email, #footer #contact #example-email, #footer #navigation #example-email {
  color: #6366F1;
}
#footer #social-media #terms-privacy, #footer #contact #terms-privacy, #footer #navigation #terms-privacy {
  display: flex;
  flex-direction: column;
  margin-top: 5rem;
}
#footer #social-media a, #footer #contact a, #footer #navigation a {
  color: #FFFFFF;
}