#client-feedback {
    background: $gradient-background;
    .feedback-container {
        .feedback-content {
            display: flex;
            flex-direction: row;
            gap: 1.25rem;
            padding: 1.25rem;

            .feedback-buttons-left-right {
                display: flex;
                gap: 1.25rem;
                margin-right: 140px;
                margin-top: 3rem;
            }

            .reviews {
                display: flex;
                flex-direction: row;
            }
            
        }
    }
}