#footer {
    background: $gray-900; 
    display: flex;
    flex-direction: row;
    padding: 1.5rem;
    gap: 2rem;

    .footer-container1 {
        display: flex;
        flex-direction: column;
        #silicon-logo {
            width: 30%;
            margin-top: 2rem;
            margin-bottom: 1.5rem;
        }

        #footer-p {
            color: $white;
        }
        h5 {
            color: $white;
        }
        #newsletter-bar {
            .input-group {
                position: relative;
                margin-top: 1.5rem;
                
                input[type="text"] {
                    padding-right: 80px;
                }

                label {
                    color: $white;
                }

                #subscribe-button {
                    position: absolute;
                    top: 28.5px;
                    right: 0;
                    height: 67.4%;
                    padding: 30 0.5rem;
                }
            } 
        }  
         #rights {
            margin-top: 5rem;
         }      
    }


    #social-media, #contact, #navigation {
        display: flex;
        flex-direction: column;
        align-items: flex-start;       
        @include text-nav;
        margin-top: 3rem;
        row-gap: 0.5rem;
        margin-left: 3rem;

        #example-email {
            color: $primary;
        }
        #terms-privacy {
            display: flex;
            flex-direction: column;
            margin-top: 5rem;
        }
        a {
            color: $white;
        }
    }

}