#medical-contact {
    display: flex;
    height: 100%;

    padding: 1.5rem;
    .medical-info {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        img {
            width: 50%;
            // padding: 1.5rem;
            margin-right: 6rem;
        }
        #flex-medical {
            display: flex;
            flex-direction: column;
            gap: 2rem;

            .medical1,.medical2 {
                h3 {
                    margin-bottom: 2rem;
                }

                i.fa-solid.fa-location-pin {
                    margin-right: 0.5rem;
                    color: $primary;
                }
                i.fa-solid.fa-phone {
                    margin-right: 0.5rem;
                    color: $primary;
                }
                i.fa-solid.fa-clock {
                    margin-right: 0.5rem;
                    color: $primary;
                }
            }
        }
    }
}