#money-transfers {
    @include lg {
        padding-top: 40px;
    }

    .content-wrapper {
        display: grid;
        // min-height: 100vh;
        // grid-template-columns: auto 1fr;
        // grid-template-areas:    "transfers" "img1"
        //                         "img2" "payments";
        
        @include md {
            grid-template-columns: 1fr 1fr;
            align-items: end;
            grid-template-areas:    "transfers img1"  
                                    "img2 payments";
            gap: 50px;
        }

        @include lg {
            align-items: center;
            gap: 100px;
            padding: 1.25rem 2.5rem;
            margin: 0 2.5rem;
        }

            .transfers {
                grid-area: transfers;
                text-align: left;
                
                h2 {
                    padding-bottom: 1.25rem;
                }

                p {
                    i.fa-regular.fa-circle-check {
                        color: $primary;
                        margin-right: 0.5rem;
                    }
                }  
            }

            .receive-payment {
                grid-area: payments;
                text-align: left;
                .receive-payment-info {
                    display: flex;
                    flex-direction: row;
                }
            }
           

            @include lg {
                text-align: left;
                display: grid;
                grid-template-rows: auto auto 1fr auto;
                padding: 0;
            }
            #btn-learn-more {
                display: inline-block;
                padding: 0.5rem 0.5rem;
                margin-top: 1.25rem;
                padding: 0.5rem;

                i.fa-solid.fa-arrow-right {
                    margin-left: 0.5rem;
                }
            }
        }

        #money-forecast {
            grid-area: img1;
            align-items: baseline;
            width: 100%;
            padding: 1.25rem 2.5rem;

            @include md {
                padding: 0;
            }
        }

        #receive-payments {
            grid-area: img2;
            align-items: baseline;
            width: 100%;
            padding: 1.25rem 2.5rem;

            @include md {
                padding: 0;
            }
        }
    }
