#showcase {
    background: $gradient-background;

    @include lg {
        padding-top: 40px;
    }

    .container {
        display: grid;
        grid-template-columns: 1fr auto;
        grid-template-areas:    "img"
                                "content";

        @include md {
            grid-template-columns: 1fr 1fr;
            align-items: end;
            grid-template-areas: "content img";
            gap: 50px;
        }

        @include lg {
            align-items: stretch;
            gap: 100px;
        }

        .content {
            grid-area: content;
            text-align: center;
            padding: 1.25rem;

            @include lg {
                text-align: left;
                display: grid;
                grid-template-rows: auto auto 1fr auto;
                padding: 0;
            }

            h1 {
                @include h1;

                @include lg {
                    @include d4;
                    padding-top: 2rem;
                }
            }

            .download-app {
                display: flex;
                justify-content: center;
                gap: 1.25rem;
                margin: 2.5rem 0;

                @include lg {
                    justify-content: flex-start;
                }

                img {
                    width: 100%;
                }
            }

            .discover-more {
                display: flex;
                justify-content: left;
                gap: 1.25rem;
                padding-bottom: 3.5rem;
            }

            // .more {
            //     @include text-m;

        }

        #discover {
           margin: 0.5rem;
        }

        #showcase-image {
            grid-area: img;
            align-items: baseline;
            width: 100%;
            padding: 1.25rem 2.5rem;

            @include md {
                padding: 0;
            }
        }
    }
}