#subscribe {
    background: $gray-100;
    .subscribe-wrapper {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        gap: 3rem;
        padding: 5rem;

        #email-bar {
            width: 60dvh;
            .input-group {
                position: relative;
                margin-top: 1.5rem;
                
                
                input[type="text"] {
                    padding-right: 80px;
                }

                #subscribe-button {
                    position: absolute;
                    top: 0;
                    right: 0;
                    height: 100%;
                    padding: 0 10px;
                }
            }            
        }
    }
}